<div class="row">
    <input [(ngModel)]="busqueda" type="text" class="form-control" name="" id="" aria-describedby="helpId" (keydown.enter)="buscar()">
    <a name="" id="" class="btn" role="button" (click)="buscar()">Buscar producto</a>
</div>
<p id="message" *ngIf="busqueda.length > 0">Buscando: {{ busqueda }}</p>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="existenciaCB" (change)="existsFilter($event)">
    <label class="form-check-label" for="existenciaCB">
        Solo en existencia
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="ordenarCB" (change)="priceFilter($event)">
    <label class="form-check-label" for="ordenarCB">
        Ordenar por precio (menor a mayor)
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="resaltarCB" (change)="exists3Filter($event)">
    <label class="form-check-label" for="resaltarCB">
        Resaltar existencia mayor a 3
    </label>
</div>
<div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let producto of productosMostrados" [ngStyle]="{'background-color': aplicarFiltroExistencia3 ? producto.existencia > 3 ? 'green' : 'white' : 'white'}">
            <img src="{{ producto.imagen }}" alt="" srcset="">
            <p class="no-margin title">{{ producto.nombre }}</p>
            <p class="no-margin">Precio (MXN): ${{ producto.precio }}</p>
            <p class="no-margin">Marca: {{producto.marca}}</p>
            <p class="no-margin">Descripción: {{ producto.descripcion }}</p>
            <p class="no-margin">Existencia: {{ producto.existencia }}</p>
        </li>
    </ul>
    <div *ngIf="productosMostrados.length == 0" class="alert alert-danger" role="alert">
        <strong>Ningún producto concuerda con la búsqueda</strong>
    </div>
</div>