.form-control {
    width: 30%;
}

.row {
    margin-left: 0;
    margin-bottom: 5px;
}

.btn {
    margin-left: 20px;
    background-color: #ff1800;
    border-color: #ff1800;
    color: white;
    height: 38px;
}

#message {
    margin-bottom: 0;
}

img {
    float: left;
    margin-right: 10px;
}

.title {
    font-size: x-large;
    font-weight: 600;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}